In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [2]:
x = pd.read_excel('주문 시간별(메뉴별)_갤러리아압구정.xlsx',names=['a','b','가맹점','주문일자','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])
y = pd.read_excel('주문 시간별(메뉴별)_서울숲.xlsx',names=['a','b','가맹점','주문일자','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])
z = pd.read_excel('주문 시간별(메뉴별)_현대대구.xlsx',names=['a','b','가맹점','주문일자','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])
a = pd.read_excel('주문 시간별(메뉴별)_현대디큐브.xlsx',names=['a','b','가맹점','주문일자','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])
b = pd.read_excel('주문 시간별(메뉴별)_현대목동.xlsx',names=['a','b','가맹점','주문일자','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])
c = pd.read_excel('주문 시간별(메뉴별)_현대무역센터.xlsx',names=['a','b','가맹점','주문일자','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])
d = pd.read_excel('주문 시간별(메뉴별)_현대압구정.xlsx',names=['a','b','가맹점','주문일자','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])
e = pd.read_excel('주문 시간별(메뉴별)_현대중동.xlsx',names=['a','b','가맹점','주문일자','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])
f = pd.read_excel('주문 시간별(메뉴별)_현대천호.xlsx',names=['a','b','가맹점','주문일자','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])
g = pd.read_excel('주문 시간별(메뉴별)_현대충청.xlsx',names=['a','b','가맹점','주문일자','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])
h = pd.read_excel('주문 시간별(메뉴별)_현대킨텍스.xlsx',names=['a','b','가맹점','주문일자','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])
i = pd.read_excel('주문 시간별(메뉴별)_AK타운.xlsx',names=['a','b','가맹점','주문일자','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])

In [3]:
x.drop(['a','b'],axis=1, inplace=True)
y.drop(['a','b'],axis=1, inplace=True)
z.drop(['a','b'],axis=1, inplace=True)
a.drop(['a','b'],axis=1, inplace=True)
b.drop(['a','b'],axis=1, inplace=True)
c.drop(['a','b'],axis=1, inplace=True)
d.drop(['a','b'],axis=1, inplace=True)
e.drop(['a','b'],axis=1, inplace=True)
f.drop(['a','b'],axis=1, inplace=True)
g.drop(['a','b'],axis=1, inplace=True)
h.drop(['a','b'],axis=1, inplace=True)
i.drop(['a','b'],axis=1, inplace=True)

In [4]:
x.drop([0,1,2,3],axis=0, inplace=True)
y.drop([0,1,2,3],axis=0, inplace=True)
z.drop([0,1,2,3],axis=0, inplace=True)
a.drop([0,1,2,3],axis=0, inplace=True)
b.drop([0,1,2,3],axis=0, inplace=True)
c.drop([0,1,2,3],axis=0, inplace=True)
d.drop([0,1,2,3],axis=0, inplace=True)
e.drop([0,1,2,3],axis=0, inplace=True)
f.drop([0,1,2,3],axis=0, inplace=True)
g.drop([0,1,2,3],axis=0, inplace=True)
h.drop([0,1,2,3],axis=0, inplace=True)
i.drop([0,1,2,3],axis=0, inplace=True)


x = x.iloc[:-3]
y = y.iloc[:-3]
z = z.iloc[:-3]
a = a.iloc[:-3]
b = b.iloc[:-3]
c = c.iloc[:-3]
d = d.iloc[:-3]
e = e.iloc[:-3]
f = f.iloc[:-3]
g = g.iloc[:-3]
h = h.iloc[:-3]
i = i.iloc[:-3]

In [5]:
x = x[(x.주문시간 != '소계')]
x[x.주문시간 ==""] = np.NaN
x[x.가맹점 =="" ] = np.NAN 

y = y[(y.주문시간 != '소계')]
y[y.주문시간 ==""] = np.NaN
y[y.가맹점 =="" ] = np.NAN 

z = z[(z.주문시간 != '소계')]
z[z.주문시간 ==""] = np.NaN
z[z.가맹점 =="" ] = np.NAN 

a = a[(a.주문시간 != '소계')]
a[a.주문시간 ==""] = np.NaN
a[a.가맹점 =="" ] = np.NAN 

b = b[(b.주문시간 != '소계')]
b[b.주문시간 ==""] = np.NaN
b[b.가맹점 =="" ] = np.NAN 

c = c[(c.주문시간 != '소계')]
c[c.주문시간 ==""] = np.NaN
c[c.가맹점 =="" ] = np.NAN 

d = d[(d.주문시간 != '소계')]
d[d.주문시간 ==""] = np.NaN
d[d.가맹점 =="" ] = np.NAN 

e = e[(e.주문시간 != '소계')]
e[e.주문시간 ==""] = np.NaN
e[e.가맹점 =="" ] = np.NAN 

f = f[(f.주문시간 != '소계')]
f[f.주문시간 ==""] = np.NaN
f[f.가맹점 =="" ] = np.NAN 

g = g[(g.주문시간 != '소계')]
g[g.주문시간 ==""] = np.NaN
g[g.가맹점 =="" ] = np.NAN 

h = h[(h.주문시간 != '소계')]
h[h.주문시간 ==""] = np.NaN
h[h.가맹점 =="" ] = np.NAN 

i = i[(i.주문시간 != '소계')]
i[i.주문시간 ==""] = np.NaN
i[i.가맹점 =="" ] = np.NAN

In [6]:
x[['가맹점','주문일자','주문시간','상품명']]= x[['가맹점','주문일자','주문시간','상품명']].fillna(method='ffill')
y[['가맹점','주문일자','주문시간','상품명']]= y[['가맹점','주문일자','주문시간','상품명']].fillna(method='ffill')
z[['가맹점','주문일자','주문시간','상품명']]= z[['가맹점','주문일자','주문시간','상품명']].fillna(method='ffill')
a[['가맹점','주문일자','주문시간','상품명']]= a[['가맹점','주문일자','주문시간','상품명']].fillna(method='ffill')
b[['가맹점','주문일자','주문시간','상품명']]= b[['가맹점','주문일자','주문시간','상품명']].fillna(method='ffill')
c[['가맹점','주문일자','주문시간','상품명']]= c[['가맹점','주문일자','주문시간','상품명']].fillna(method='ffill')
d[['가맹점','주문일자','주문시간','상품명']]= d[['가맹점','주문일자','주문시간','상품명']].fillna(method='ffill')
e[['가맹점','주문일자','주문시간','상품명']]= e[['가맹점','주문일자','주문시간','상품명']].fillna(method='ffill')
f[['가맹점','주문일자','주문시간','상품명']]= f[['가맹점','주문일자','주문시간','상품명']].fillna(method='ffill')
g[['가맹점','주문일자','주문시간','상품명']]= g[['가맹점','주문일자','주문시간','상품명']].fillna(method='ffill')
h[['가맹점','주문일자','주문시간','상품명']]= h[['가맹점','주문일자','주문시간','상품명']].fillna(method='ffill')
i[['가맹점','주문일자','주문시간','상품명']]= i[['가맹점','주문일자','주문시간','상품명']].fillna(method='ffill')

In [7]:
x=x.append(y,ignore_index=True)
x=x.append(z,ignore_index=True)
x=x.append(a,ignore_index=True)
x=x.append(b,ignore_index=True)
x=x.append(c,ignore_index=True)
x=x.append(d,ignore_index=True)
x=x.append(e,ignore_index=True)
x=x.append(f,ignore_index=True)
x=x.append(g,ignore_index=True)
x=x.append(h,ignore_index=True)
x=x.append(i,ignore_index=True)

In [8]:
x=x = x[(x.상품명 != '숫자초')]
x=x = x[(x.상품명 != '크림치즈소스')]
x=x = x[(x.상품명 != '초코소스')]
x=x = x[(x.상품명 != '카라멜 소스')]
x=x = x[(x.상품명 != '종이 쇼핑백')]
x=x = x[(x.상품명 != '샷추가')]
x=x = x[(x.상품명 != 'ICE')]
x=x = x[(x.상품명 != '무료_리유저블텀블러')]

In [9]:
x=x = x[(x.상품명 != '(딜)ICE')]
x=x = x[(x.상품명 != '데우기')]
x=x = x[(x.상품명 != '커피(직원용)')]
x=x = x[(x.상품명 != 'HOT')]
x=x = x[(x.상품명 != 'TAKE IN')]
x=x = x[(x.상품명 != 'TO GO')]

In [10]:
x.replace("아메리카노(브루)","아메리카노",inplace=True)
x.replace("ice아메리카노","아메리카노",inplace=True)
x.replace("ice 아메리카노","아메리카노",inplace=True)
x.replace("아이스 카페라떼(브루)","카페라떼",inplace=True)
x.replace("ice 카페라떼","카페라떼",inplace=True)
x.replace("아이스커피(브루)","아이스커피",inplace=True)
x.replace("(딜)더블 초코 미니팩","(2)더블초코미니팩",inplace=True)
x.replace("(딜)더블 피칸 미니팩","(3)더블피칸미니팩",inplace=True)
x.replace("(딜)더블피칸 시나팩","(5)더블피칸시나팩",inplace=True)
x.replace("(딜)딸기칠라타","딸기칠라타",inplace=True)
x.replace("(딜)딸기피지","콤보_딸기피지",inplace=True)
x.replace("(딜)망고칠라타","망고칠라타",inplace=True)
x.replace("(딜)망고피지","콤보_망고피지",inplace=True)
x.replace("(딜)바닐라라떼","바닐라라떼",inplace=True)
x.replace("ice 바닐라라떼","바닐라라떼",inplace=True)
x.replace("(딜)베리 버라이어티팩","베리 버라이어티 팩",inplace=True)
x.replace("(딜)베리본","베리 본",inplace=True)
x.replace("(딜)시그니처 카푸치노","시그니쳐카푸치노",inplace=True)
x.replace("(딜)아메리카노","아메리카노",inplace=True)
x.replace("(딜)얼그레이","얼그레이",inplace=True)
x.replace("ice얼그레이","얼그레이",inplace=True)
x.replace("(딜)잉글리쉬블랙퍼스트","잉글리쉬블랙퍼스트",inplace=True)
x.replace("ice잉글리쉬블랙퍼스트","잉글리쉬블랙퍼스트",inplace=True)
x.replace("(딜)초코 미니본","Mini 초코본",inplace=True)
x.replace("(딜)카라멜 피칸 미니본","카라멜 피칸 Mini 본",inplace=True)
x.replace("(딜)카라멜 피칸본","카라멜 피칸 본",inplace=True)
x.replace("(딜)카모마일","카모마일",inplace=True)
x.replace("ice카모마일","카모마일",inplace=True)
x.replace("(딜)카페라떼","카페라떼",inplace=True)
x.replace("(딜)클래식 미니본","클래식 Mini 본",inplace=True)
x.replace("(딜)클래식 시나팩","(4)C4클래식시나팩",inplace=True)
x.replace("(딜)트리플 시나팩","(6)TC9트리플시나팩",inplace=True)


x=x = x[(x.상품명 != '(딜)크림치즈소스')]

In [11]:
x.to_excel('rest.xlsx')

In [12]:
A = x[(x.가맹점 == '시나본 갤러리아명품관점')]
B = x[(x.가맹점 == '시나본 서울숲점')]
C = x[(x.가맹점 == '시나본 현대 디큐브점')]
D = x[(x.가맹점 == '시나본 현대 목동점')]
E = x[(x.가맹점 == '시나본 현대 본점')]
F = x[(x.가맹점 == '시나본 현대 충청점')]
G = x[(x.가맹점 == '시나본 현대대구점')]
H = x[(x.가맹점 == '시나본 현대무역센터점')]
I = x[(x.가맹점 == '시나본 현대중동점')]
J = x[(x.가맹점 == '시나본 현대천호점')]
K = x[(x.가맹점 == '시나본 현대킨텍스점')]
L = x[(x.가맹점 == '시나본 AK Town점')]

In [13]:


A_piv = pd.pivot_table(A, index=['주문시간'], values = '주문건수', columns = '상품명')
A_piv=A_piv = A_piv[A_piv.count(axis=1) != 1]
A_piv=A_piv= A_piv[A_piv.sum(axis=1) !=0]
A_piv[:] = np.where(A_piv.notnull(), A_piv.columns, A_piv)

B_piv = pd.pivot_table(B, index=['주문시간'], values = '주문건수', columns = '상품명')
B_piv=B_piv = B_piv[B_piv.count(axis=1) != 1]
B_piv=B_piv= B_piv[B_piv.sum(axis=1) !=0]
B_piv[:] = np.where(B_piv.notnull(), B_piv.columns, B_piv)

C_piv = pd.pivot_table(C, index=['주문시간'], values = '주문건수', columns = '상품명')
C_piv=C_piv = C_piv[C_piv.count(axis=1) != 1]
C_piv=C_piv= C_piv[C_piv.sum(axis=1) !=0]
C_piv[:] = np.where(C_piv.notnull(), C_piv.columns, C_piv)

D_piv = pd.pivot_table(D, index=['주문시간'], values = '주문건수', columns = '상품명')
D_piv=D_piv = D_piv[D_piv.count(axis=1) != 1]
D_piv=D_piv= D_piv[D_piv.sum(axis=1) !=0]
D_piv[:] = np.where(D_piv.notnull(), D_piv.columns, D_piv)

E_piv = pd.pivot_table(E, index=['주문시간'], values = '주문건수', columns = '상품명')
E_piv=E_piv = E_piv[E_piv.count(axis=1) != 1]
E_piv=E_piv= E_piv[E_piv.sum(axis=1) !=0]
E_piv[:] = np.where(E_piv.notnull(), E_piv.columns, E_piv)

F_piv = pd.pivot_table(F, index=['주문시간'], values = '주문건수', columns = '상품명')
F_piv=F_piv = F_piv[F_piv.count(axis=1) != 1]
F_piv=F_piv= F_piv[F_piv.sum(axis=1) !=0]
F_piv[:] = np.where(F_piv.notnull(), F_piv.columns, F_piv)

G_piv = pd.pivot_table(G, index=['주문시간'], values = '주문건수', columns = '상품명')
G_piv=G_piv = G_piv[G_piv.count(axis=1) != 1]
G_piv=G_piv= G_piv[G_piv.sum(axis=1) !=0]
G_piv[:] = np.where(G_piv.notnull(), G_piv.columns, G_piv)

H_piv = pd.pivot_table(H, index=['주문시간'], values = '주문건수', columns = '상품명')
H_piv=H_piv = H_piv[H_piv.count(axis=1) != 1]
H_piv=H_piv= H_piv[H_piv.sum(axis=1) !=0]
H_piv[:] = np.where(H_piv.notnull(), H_piv.columns, H_piv)

I_piv = pd.pivot_table(I, index=['주문시간'], values = '주문건수', columns = '상품명')
I_piv=I_piv = I_piv[I_piv.count(axis=1) != 1]
I_piv=I_piv= I_piv[I_piv.sum(axis=1) !=0]
I_piv[:] = np.where(I_piv.notnull(), I_piv.columns, I_piv)

J_piv = pd.pivot_table(J, index=['주문시간'], values = '주문건수', columns = '상품명')
J_piv=J_piv = J_piv[J_piv.count(axis=1) != 1]
J_piv=J_piv= J_piv[J_piv.sum(axis=1) !=0]
J_piv[:] = np.where(J_piv.notnull(), J_piv.columns, J_piv)

K_piv = pd.pivot_table(K, index=['주문시간'], values = '주문건수', columns = '상품명')
K_piv=K_piv = K_piv[K_piv.count(axis=1) != 1]
K_piv=K_piv= K_piv[K_piv.sum(axis=1) !=0]
K_piv[:] = np.where(K_piv.notnull(), K_piv.columns, K_piv)

L_piv = pd.pivot_table(L, index=['주문시간'], values = '주문건수', columns = '상품명')
L_piv=L_piv = L_piv[L_piv.count(axis=1) != 1]
L_piv=L_piv= L_piv[L_piv.sum(axis=1) !=0]
L_piv[:] = np.where(L_piv.notnull(), L_piv.columns, L_piv)

In [14]:
G_piv

상품명,(1)버라이어티 미니팩,(2)더블초코미니팩,(3)더블피칸미니팩,(4)C4클래식시나팩,(5)CP4더블피칸시나팩,(6)TC9트리플시나팩,1.커피시나본 콤보,2.커피미니본 콤보,3.피지 미니본 콤보,4.스페셜 콤보,...,클래식 Mini 본,클래식 본,클래식바이츠(4개),피지딸기,피지레몬,피지망고,피칸본 변경,핑크 버라이어티팩,핑크본,핑크본 변경
주문시간,,,,,,,,,,,,,,,,,,,,,
10:35:56,NaN,NaN,NaN,NaN,(5)CP4더블피칸시나팩,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10:41:22,NaN,NaN,NaN,NaN,NaN,NaN,1.커피시나본 콤보,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10:41:23,NaN,NaN,NaN,NaN,NaN,NaN,1.커피시나본 콤보,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10:41:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,클래식 본,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10:45:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,클래식바이츠(4개),NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20:44:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,클래식 Mini 본,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20:44:30,(1)버라이어티 미니팩,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,클래식 Mini 본,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20:44:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,클래식 Mini 본,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20:46:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,클래식 Mini 본,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20:48:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,클래식 본,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
def f(pi):
    df_list= pi.values.tolist()
    Lis= []
    for i in range(0,len(pi)):
        li=df_list[i]
        cleanedli= [x for x in li if str(x) != 'nan']
        a=', '.join(cleanedli)
        Lis.append(a)
    pi['Comb']=Lis

In [16]:
f(A_piv)
f(B_piv)
f(C_piv)
f(D_piv)
f(E_piv)
f(F_piv)
f(G_piv)
f(H_piv)
f(I_piv)
f(J_piv)
f(K_piv)
f(L_piv)

In [17]:
Galcount= A_piv['Comb'].value_counts().to_frame()
Galcount= Galcount.rename(columns={'Comb':'Galcount'})
Galsupp= A_piv['Comb'].value_counts(normalize=True).to_frame()
Galsupp= Galsupp.rename(columns={'Comb':'Galsupport'})

Seoulcount= B_piv['Comb'].value_counts().to_frame()
Seoulcount= Seoulcount.rename(columns={'Comb':'Seoulcount'})
Seoulsupp= B_piv['Comb'].value_counts(normalize=True).to_frame()
Seoulsupp= Seoulsupp.rename(columns={'Comb':'Seoulsupport'})

DQcount= C_piv['Comb'].value_counts().to_frame()
DQcount= DQcount.rename(columns={'Comb':'DQcount'})
DQsupp= C_piv['Comb'].value_counts(normalize=True).to_frame()
DQsupp= DQsupp.rename(columns={'Comb':'DQsupport'})

MDcount= D_piv['Comb'].value_counts().to_frame()
MDcount= MDcount.rename(columns={'Comb':'MDcount'})
MDsupp= D_piv['Comb'].value_counts(normalize=True).to_frame()
MDsupp= MDsupp.rename(columns={'Comb':'MDsupport'})

Maincount= E_piv['Comb'].value_counts().to_frame()
Maincount= Maincount.rename(columns={'Comb':'Maincount'})
Mainsupp= E_piv['Comb'].value_counts(normalize=True).to_frame()
Mainsupp= Mainsupp.rename(columns={'Comb':'Mainsupport'})

CCcount= F_piv['Comb'].value_counts().to_frame()
CCcount= CCcount.rename(columns={'Comb':'CCcount'})
CCsupp= F_piv['Comb'].value_counts(normalize=True).to_frame()
CCsupp= CCsupp.rename(columns={'Comb':'CCsupport'})

DGcount= G_piv['Comb'].value_counts().to_frame()
DGcount= DGcount.rename(columns={'Comb':'DGcount'})
DGsupp= G_piv['Comb'].value_counts(normalize=True).to_frame()
DGsupp= DGsupp.rename(columns={'Comb':'DGsupport'})

tradecount= H_piv['Comb'].value_counts().to_frame()
tradecount= tradecount.rename(columns={'Comb':'tradecount'})
tradesupp= H_piv['Comb'].value_counts(normalize=True).to_frame()
tradesupp= tradesupp.rename(columns={'Comb':'tradesupport'})

JDcount= I_piv['Comb'].value_counts().to_frame()
JDcount= JDcount.rename(columns={'Comb':'JDcount'})
JDsupp= I_piv['Comb'].value_counts(normalize=True).to_frame()
JDsupp= JDsupp.rename(columns={'Comb':'JDsupport'})

CHcount= J_piv['Comb'].value_counts().to_frame()
CHcount= CHcount.rename(columns={'Comb':'CHcount'})
CHsupp= J_piv['Comb'].value_counts(normalize=True).to_frame()
CHsupp= CHsupp.rename(columns={'Comb':'CHsupport'})

KTcount= K_piv['Comb'].value_counts().to_frame()
KTcount= KTcount.rename(columns={'Comb':'KTcount'})
KTsupp= K_piv['Comb'].value_counts(normalize=True).to_frame()
KTsupp= KTsupp.rename(columns={'Comb':'KTsupport'})

AKcount= L_piv['Comb'].value_counts().to_frame()
AKcount= AKcount.rename(columns={'Comb':'AKcount'})
AKsupp= L_piv['Comb'].value_counts(normalize=True).to_frame()
AKsupp= AKsupp.rename(columns={'Comb':'AKsupport'})

In [18]:

A=pd.concat([Galcount, Galsupp], axis=1)
B=pd.concat([Seoulcount, Seoulsupp], axis=1)
C=pd.concat([DQcount, DQsupp], axis=1)
D=pd.concat([MDcount, MDsupp], axis=1)
E=pd.concat([Maincount, Mainsupp], axis=1)
F=pd.concat([CCcount, CCsupp], axis=1)
G=pd.concat([DGcount, DGsupp], axis=1)
H=pd.concat([tradecount, tradesupp], axis=1)
I=pd.concat([JDcount, JDsupp], axis=1)
J=pd.concat([CHcount, CHsupp], axis=1)
K=pd.concat([KTcount, KTsupp], axis=1)
L=pd.concat([AKcount, AKsupp], axis=1)

In [19]:
A=A.head(50)
B=B.head(50)
C=C.head(50)
D=D.head(50)
E=E.head(50)
F=F.head(50)
G=G.head(50)
H=H.head(50)
I=I.head(50)
J=J.head(50)
K=K.head(50)
L=L.head(50)

In [20]:
A_con=x[(x.가맹점 == '시나본 갤러리아명품관점')]
A_itemc= A_con['상품명'].value_counts().to_frame()

B_con=x[(x.가맹점 == '시나본 서울숲점')]
B_itemc= B_con['상품명'].value_counts().to_frame()

C_con=x[(x.가맹점 == '시나본 현대 디큐브점')]
C_itemc= C_con['상품명'].value_counts().to_frame()

D_con=x[(x.가맹점 == '시나본 현대 목동점')]
D_itemc= D_con['상품명'].value_counts().to_frame()

E_con=x[(x.가맹점 == '시나본 현대 본점')]
E_itemc= E_con['상품명'].value_counts().to_frame()

F_con=x[(x.가맹점 == '시나본 현대 충청점')]
F_itemc= F_con['상품명'].value_counts().to_frame()

G_con=x[(x.가맹점 == '시나본 현대대구점')]
G_itemc= G_con['상품명'].value_counts().to_frame()

H_con=x[(x.가맹점 == '시나본 현대무역센터점')]
H_itemc= H_con['상품명'].value_counts().to_frame()

I_con=x[(x.가맹점 == '시나본 현대중동점')]
I_itemc= I_con['상품명'].value_counts().to_frame()

J_con=x[(x.가맹점 == '시나본 현대천호점')]
J_itemc= J_con['상품명'].value_counts().to_frame()

K_con=x[(x.가맹점 == '시나본 현대킨텍스점')]
K_itemc= K_con['상품명'].value_counts().to_frame()

L_con=x[(x.가맹점 == '시나본 AK Town점')]
L_itemc= L_con['상품명'].value_counts().to_frame()

In [21]:
A_fin=A.head(10)
B_fin=B.head(10)
C_fin=C.head(10)
D_fin=D.head(10)
E_fin=E.head(10)
F_fin=F.head(10)
G_fin=G.head(10)
H_fin=H.head(10)
I_fin=I.head(10)
J_fin=J.head(10)
K_fin=K.head(10)
L_fin=L.head(10)

In [22]:
###Confidenced 구하는 함수
def conf(x,y,z):
    con=[]
    lif=[]
    for i in range (10):
        if x.index[i].count(',') == 1:
            cf= x.iloc[:, 0][i]/((y["상품명"].loc[y.index ==x.index[i].split(',')[0]]))[0]
            lf= cf/x.iloc[:, 1][i]
            con.append(cf)
            lif.append(lf)
        else: 
            ca=x.iloc[:, 0][i]/x.iloc[:, 0].loc[x.index == (x.index[i].split(',')[0] +","+ x.index[i].split(',')[1])][0]
            con.append(ca)
            la= ca/ x.iloc[:, 1][i]
            lif.append(la)
    z['confidence']= con
    z['lift']= lif

In [23]:
conf(A,A_itemc,A_fin)
conf(B,B_itemc,B_fin)
conf(C,C_itemc,C_fin)
conf(D,D_itemc,D_fin)
conf(E,E_itemc,E_fin)
conf(F,F_itemc,F_fin)
conf(G,G_itemc,G_fin)
conf(H,H_itemc,H_fin)
conf(I,I_itemc,I_fin)
conf(J,J_itemc,J_fin)
conf(K,K_itemc,K_fin)
conf(L,L_itemc,L_fin)

<ipython-input-22-20eaf44d45d9>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  z['confidence']= con
<ipython-input-22-20eaf44d45d9>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  z['lift']= lif

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
agg=pd.concat([A_fin, B_fin, C_fin, D_fin, F_fin,G_fin, H_fin, I_fin, J_fin, K_fin, L_fin], axis=1)

agg

In [ ]:
agg.columns

In [ ]:
### Visualizing Data

In [ ]:
import seaborn as sns

In [ ]:
fig, ax = plt.subplots(figsize = (50,20))
ax.plot(agg.index, agg.Galcount, label='Galaria')
ax.plot(agg.index, agg.Seoulcount, label = 'Seoulforest')
ax.plot(agg.index, agg.DQcount, label = 'DQube')
ax.plot(agg.index, agg.MDcount, label = 'Myungdong')
ax.plot(agg.index, agg.CCcount, label = 'Chungchung')
ax.plot(agg.index, agg.Maincount, label='Main store')
ax.plot(agg.index, agg.tradecount, label = 'trade center')
ax.plot(agg.index, agg.JDcount, label = 'Jungdong')
ax.plot(agg.index, agg.CHcount, label = 'Chunho')
ax.plot(agg.index, agg.KTcount, label = 'Kintex')
ax.plot(agg.index, agg.AKcount, label = 'Aktown')
ax.legend(loc='upper left')
plt.suptitle('Basket analysis by all branches')
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize = (50,20))
ax.plot(agg.index, agg.Galsupport, label='Galariasup')
ax.plot(agg.index, agg.Seoulsupport, label = 'Seoulforestsup')
ax.plot(agg.index, agg.DQsupport, label = 'DQubesup')
ax.plot(agg.index, agg.MDsupport, label = 'Myungdongsup')
ax.plot(agg.index, agg.CCsupport, label = 'Chungchungsup')
ax.plot(agg.index, agg.Mainsupport, label='Main storesup')
ax.plot(agg.index, agg.tradesupport, label = 'trade centersup')
ax.plot(agg.index, agg.JDsupport, label = 'Jungdongsup')
ax.plot(agg.index, agg.CHsupport, label = 'Chunhosup')
ax.plot(agg.index, agg.KTsupport, label = 'Kintexsup')
ax.plot(agg.index, agg.AKsupport, label = 'Aktownsup')
ax.legend(loc='upper left')
plt.suptitle('Basket analysis support by all branches')
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize = (50,20))
sns.scatterplot(A_fin.index, A_fin.confidence, label='Galariaconf')
sns.scatterplot(B_fin.index, B_fin.confidence, label = 'Seoulforestconf')
sns.scatterplot(C_fin.index, C_fin.confidence, label='DQubeconf')
sns.scatterplot(D_fin.index, D_fin.confidence, label = 'Mokdongconf')
sns.scatterplot(E_fin.index, E_fin.confidence, label='Mainconf')
sns.scatterplot(F_fin.index, F_fin.confidence, label = 'CCconf')
sns.scatterplot(H_fin.index, H_fin.confidence, label = 'Tradeconf')
sns.scatterplot(I_fin.index, I_fin.confidence, label='JDconf')
sns.scatterplot(J_fin.index, J_fin.confidence, label = 'CHconf')
sns.scatterplot(K_fin.index, K_fin.confidence, label = 'KTconf')
sns.scatterplot(L_fin.index, L_fin.confidence, label = 'AKconf')

ax.legend(loc='upper left')
plt.suptitle('Basket analysis support by all branches')
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize = (50,20))
sns.scatterplot(A_fin.index, A_fin.lift, label='Galaria')
sns.scatterplot(B_fin.index, B_fin.lift, label = 'Seoulforest')
sns.scatterplot(C_fin.index, C_fin.lift, label = 'DQube')
sns.scatterplot(D_fin.index, D_fin.lift, label = 'Mokgdong')
sns.scatterplot(F_fin.index, F_fin.lift, label = 'Chungchung')
sns.scatterplot(G_fin.index, G_fin.lift, label='Daegu')
sns.scatterplot(H_fin.index, H_fin.lift, label = 'Trade center')
sns.scatterplot(I_fin.index, I_fin.lift, label = 'Jungdong')
sns.scatterplot(J_fin.index, J_fin.lift, label = 'Chunho')
sns.scatterplot(K_fin.index, K_fin.lift, label = 'Kintex')
sns.scatterplot(L_fin.index, L_fin.lift, label = 'Aktown')

ax.legend(loc='upper left')
ax.set_ylim([0,200])
plt.suptitle('lift value for all branches')
plt.show()

In [ ]:
#A_fin.to_excel('A_fin.xlsx')

In [ ]:
'''
#with pd.ExcelWriter('A_fin.xlsx', engine='openpyxl', mode='a') as writer:
    B_fin.to_excel(writer,sheet_name='서울숲')
    C_fin.to_excel(writer,sheet_name='현대디큐브')
    D_fin.to_excel(writer,sheet_name='현대목동')
    E_fin.to_excel(writer,sheet_name='본점')
    F_fin.to_excel(writer,sheet_name='현대충청')
    G_fin.to_excel(writer,sheet_name='현대대구')
    H_fin.to_excel(writer,sheet_name='현대무역센터')
    I_fin.to_excel(writer,sheet_name='현대중동')
    J_fin.to_excel(writer,sheet_name='현대천호')
    K_fin.to_excel(writer,sheet_name='현대킨텍스')
    L_fin.to_excel(writer,sheet_name='AK Town')
    writer.save()

writer.close()
'''

In [39]:
#매출 기반 경영 진단 
A_sales= pd.pivot_table(A_con, index=['주문일자'], values = '순매출', columns = '상품명')
B_sales= pd.pivot_table(B_con, index=['주문일자'], values = '순매출', columns = '상품명')
C_sales= pd.pivot_table(C_con, index=['주문일자'], values = '순매출', columns = '상품명')
D_sales= pd.pivot_table(D_con, index=['주문일자'], values = '순매출', columns = '상품명')
E_sales= pd.pivot_table(E_con, index=['주문일자'], values = '순매출', columns = '상품명')
F_sales= pd.pivot_table(E_con, index=['주문일자'], values = '순매출', columns = '상품명')
G_sales= pd.pivot_table(F_con, index=['주문일자'], values = '순매출', columns = '상품명')

In [40]:
A_sales

상품명,(1)버라이어티 미니팩,(2)더블초코미니팩,(3)더블피칸미니팩,(4)C4클래식시나팩,(5)CP4더블피칸시나팩,(6)TC9트리플시나팩,1.커피시나본 콤보,2.커피미니본 콤보,3.피지 미니본 콤보,HBD 블랙,...,클래식 Mini 본,클래식 본,클래식바이츠(4개),피지딸기,피지레몬,피지망고,피칸본 변경,핑크 버라이어티팩,핑크본,핑크본 변경
주문일자,,,,,,,,,,,,,,,,,,,,,
2019-01-02,NaN,11818.000,16363.666667,15909.0,17091.0,26364.0,6909.00,NaN,NaN,NaN,...,4384.615385,5206.727273,3388.272727,NaN,NaN,3909.0,NaN,NaN,NaN,NaN
2019-01-03,NaN,16249.875,12273.000000,31818.0,NaN,NaN,6909.00,6000.0,NaN,NaN,...,6600.000000,6428.714286,5058.214286,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-04,NaN,11818.000,21477.500000,31818.0,17091.0,26364.0,6909.00,6000.0,NaN,NaN,...,5812.500000,5534.882353,4969.555556,NaN,NaN,NaN,455.0,NaN,NaN,NaN
2019-01-05,NaN,17727.000,12273.000000,15909.0,17091.0,52727.0,6909.00,NaN,NaN,NaN,...,4000.000000,4500.100000,3230.066667,3909.0,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-06,NaN,11818.000,12273.000000,NaN,NaN,26364.0,5181.75,6000.0,NaN,NaN,...,6000.000000,5454.666667,5857.142857,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-23,NaN,11818.000,12273.000000,15909.0,17091.0,26364.0,NaN,6000.0,NaN,NaN,...,4071.428571,4363.733333,5042.764706,3909.0,NaN,NaN,NaN,6318.0,3545.0,NaN
2019-03-24,NaN,11818.000,12273.000000,15909.0,17091.0,26364.0,NaN,NaN,NaN,NaN,...,3000.000000,4736.947368,4969.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-25,NaN,NaN,18409.000000,NaN,17091.0,NaN,NaN,NaN,NaN,NaN,...,3600.000000,5844.285714,5280.250000,NaN,NaN,NaN,NaN,NaN,5318.0,NaN
2019-03-26,NaN,11818.000,NaN,NaN,NaN,NaN,6909.00,NaN,NaN,NaN,...,4333.333333,3347.181818,8386.500000,NaN,NaN,NaN,NaN,12636.0,3545.0,NaN
2019-03-27,NaN,NaN,NaN,NaN,17091.0,NaN,6909.00,NaN,NaN,NaN,...,3000.000000,5625.125000,8386.125000,NaN,NaN,NaN,NaN,12636.0,7091.0,NaN

In [41]:
H_sales= pd.pivot_table(H_con, index=['주문일자'], values = '순매출', columns = '상품명')
I_sales= pd.pivot_table(I_con, index=['주문일자'], values = '순매출', columns = '상품명')
J_sales= pd.pivot_table(J_con, index=['주문일자'], values = '순매출', columns = '상품명')
K_sales= pd.pivot_table(K_con, index=['주문일자'], values = '순매출', columns = '상품명')
L_sales= pd.pivot_table(L_con, index=['주문일자'], values = '순매출', columns = '상품명')

In [27]:
A_sales["SUM"]= A_sales.sum(axis=1)
B_sales["SUM"]= B_sales.sum(axis=1)
C_sales["SUM"]= C_sales.sum(axis=1)
D_sales["SUM"]= D_sales.sum(axis=1)
E_sales["SUM"]= E_sales.sum(axis=1)
F_sales["SUM"]= F_sales.sum(axis=1)
G_sales["SUM"]= G_sales.sum(axis=1)
H_sales["SUM"]= H_sales.sum(axis=1)
I_sales["SUM"]= I_sales.sum(axis=1)
J_sales["SUM"]= J_sales.sum(axis=1)
K_sales["SUM"]= K_sales.sum(axis=1)
L_sales["SUM"]= L_sales.sum(axis=1)

In [28]:
L_sales

상품명,(1)버라이어티 미니팩,(2)더블초코미니팩,(3)더블피칸미니팩,(4)C4클래식시나팩,(5)CP4더블피칸시나팩,(6)TC9트리플시나팩,1.커피시나본 콤보,2.커피미니본 콤보,3.피지 미니본 콤보,4.스페셜 콤보,...,클래식 Mini 본,클래식 본,클래식바이츠(4개),피지딸기,피지레몬,피지망고,피칸본 변경,핑크 버라이어티팩,핑크본,SUM
주문일자,,,,,,,,,,,,,,,,,,,,,
2019-01-02,NaN,11818.000000,NaN,NaN,NaN,26364.0,6909.0,NaN,NaN,NaN,...,3375.000000,4602.375000,NaN,NaN,3909.0,3909.0,NaN,NaN,NaN,113568.113095
2019-01-03,NaN,11818.000000,NaN,15909.0,NaN,NaN,6909.0,NaN,NaN,NaN,...,3600.000000,4521.631579,NaN,NaN,NaN,NaN,455.0,NaN,NaN,78313.226817
2019-01-04,NaN,11818.000000,NaN,15909.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4909.090909,5349.769231,NaN,NaN,3909.0,NaN,NaN,NaN,NaN,105946.082362
2019-01-05,NaN,13506.285714,12273.0,26515.0,NaN,NaN,6909.0,6000.0,6182.0,NaN,...,4000.000000,5559.564103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155764.960928
2019-01-06,NaN,11818.000000,12273.0,15909.0,NaN,NaN,6909.0,NaN,NaN,11818.0,...,6000.000000,5086.108108,NaN,3909.0,1954.5,NaN,NaN,NaN,NaN,172939.236896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-23,12273.0,15757.333333,12273.0,21212.0,NaN,NaN,6909.0,6000.0,NaN,NaN,...,4400.000000,4533.270270,NaN,3909.0,3909.0,NaN,NaN,12636.0,NaN,214823.169188
2019-03-24,NaN,11818.000000,NaN,13257.5,17091.0,NaN,6909.0,NaN,6182.0,NaN,...,4000.000000,5606.185185,NaN,NaN,NaN,NaN,NaN,12636.0,3545.0,172263.902493
2019-03-25,NaN,11818.000000,12273.0,15909.0,NaN,NaN,NaN,0.0,NaN,NaN,...,3000.000000,4602.375000,NaN,3909.0,NaN,NaN,NaN,12636.0,NaN,95897.065476
2019-03-26,NaN,11818.000000,NaN,NaN,NaN,NaN,6909.0,NaN,NaN,NaN,...,3000.000000,5349.769231,3727.0,3909.0,NaN,3909.0,NaN,12636.0,NaN,88312.126374
2019-03-27,12273.0,11818.000000,NaN,15909.0,NaN,NaN,6909.0,NaN,NaN,NaN,...,3000.000000,4091.000000,NaN,3909.0,3909.0,NaN,NaN,0.0,NaN,102227.000000

In [29]:
A_sales['date']=A_sales.index
A_sales['date_ord'] = pd.to_datetime(A_sales['date']).apply(lambda date: date.toordinal())

B_sales['date']=B_sales.index
B_sales['date_ord'] = pd.to_datetime(B_sales['date']).apply(lambda date: date.toordinal())

C_sales['date']=C_sales.index
C_sales['date_ord'] = pd.to_datetime(C_sales['date']).apply(lambda date: date.toordinal())

D_sales['date']=D_sales.index
D_sales['date_ord'] = pd.to_datetime(D_sales['date']).apply(lambda date: date.toordinal())

E_sales['date']=E_sales.index
E_sales['date_ord'] = pd.to_datetime(E_sales['date']).apply(lambda date: date.toordinal())

F_sales['date']=F_sales.index
F_sales['date_ord'] = pd.to_datetime(F_sales['date']).apply(lambda date: date.toordinal())

G_sales['date']=G_sales.index
G_sales['date_ord'] = pd.to_datetime(G_sales['date']).apply(lambda date: date.toordinal())

H_sales['date']=H_sales.index
H_sales['date_ord'] = pd.to_datetime(H_sales['date']).apply(lambda date: date.toordinal())

I_sales['date']=I_sales.index
I_sales['date_ord'] = pd.to_datetime(I_sales['date']).apply(lambda date: date.toordinal())

J_sales['date']=J_sales.index
J_sales['date_ord'] = pd.to_datetime(J_sales['date']).apply(lambda date: date.toordinal())

K_sales['date']=K_sales.index
K_sales['date_ord'] = pd.to_datetime(K_sales['date']).apply(lambda date: date.toordinal())

L_sales['date']=L_sales.index
L_sales['date_ord'] = pd.to_datetime(L_sales['date']).apply(lambda date: date.toordinal())

In [30]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(A_sales['date_ord'], A_sales['SUM'])
corr2, _ = pearsonr(B_sales['date_ord'], B_sales['SUM'])
corr3, _ = pearsonr(C_sales['date_ord'], C_sales['SUM'])
corr4, _ = pearsonr(D_sales['date_ord'], D_sales['SUM'])
corr5, _ = pearsonr(E_sales['date_ord'], E_sales['SUM'])
corr6, _ = pearsonr(F_sales['date_ord'], F_sales['SUM'])
corr7, _ = pearsonr(G_sales['date_ord'], G_sales['SUM'])
corr8, _ = pearsonr(H_sales['date_ord'], H_sales['SUM'])
corr9, _ = pearsonr(I_sales['date_ord'], I_sales['SUM'])
corr10, _ = pearsonr(J_sales['date_ord'], J_sales['SUM'])
corr11, _ = pearsonr(K_sales['date_ord'], K_sales['SUM'])
corr12, _ = pearsonr(L_sales['date_ord'], L_sales['SUM'])

print('Galaria Pearsons correlation: %.3f' % corr)
print('Seoul forest Pearsons correlation: %.3f' % corr2)
print('DQube Pearsons correlation: %.3f' % corr3)
print('Mokdong Pearsons correlation: %.3f' % corr4)
print('Mauin store Pearsons correlation: %.3f' % corr5)
print('HD Chungchung Pearsons correlation: %.3f' % corr6)
print('HD Daegu Pearsons correlation: %.3f' % corr7)
print('HD Trade centerPearsons correlation: %.3f' % corr8)
print('HD JungdongPearsons correlation: %.3f' % corr9)
print('HD Chunho Pearsons correlation: %.3f' % corr10)
print('Kintex Pearsons correlation: %.3f' % corr11)
print('AK Town Pearsons correlation: %.3f' % corr12)

Galaria Pearsons correlation: -0.203
Seoul forest Pearsons correlation: 0.199
DQube Pearsons correlation: -0.166
Mokdong Pearsons correlation: 0.042
Mauin store Pearsons correlation: 0.048
HD Chungchung Pearsons correlation: 0.048
HD Daegu Pearsons correlation: -0.057
HD Trade centerPearsons correlation: 0.475
HD JungdongPearsons correlation: -0.005
HD Chunho Pearsons correlation: -0.142
Kintex Pearsons correlation: 0.037
AK Town Pearsons correlation: 0.023

In [31]:
def assess(x):
    if x >= 0.5:
        print('좋음')
    elif 0.49 >= x >= 0.3:
        print('보통')
    else:
        print('나쁨')

In [32]:
#경영상태 진단
assess(corr)
assess(corr2)
assess(corr3)
assess(corr4)
assess(corr5)
assess(corr6)
assess(corr7)
assess(corr8)
assess(corr9)
assess(corr10)
assess(corr11)
assess(corr12)

나쁨
나쁨
나쁨
나쁨
나쁨
나쁨
나쁨
보통
나쁨
나쁨
나쁨
나쁨

In [59]:
#주별예측 

A_sales= pd.pivot_table(A_con, index=['주문일자'], values = '순매출', columns = '상품명')
B_sales= pd.pivot_table(B_con, index=['주문일자'], values = '순매출', columns = '상품명')
C_sales= pd.pivot_table(C_con, index=['주문일자'], values = '순매출', columns = '상품명')
D_sales= pd.pivot_table(D_con, index=['주문일자'], values = '순매출', columns = '상품명')
E_sales= pd.pivot_table(E_con, index=['주문일자'], values = '순매출', columns = '상품명')
F_sales= pd.pivot_table(E_con, index=['주문일자'], values = '순매출', columns = '상품명')
G_sales= pd.pivot_table(F_con, index=['주문일자'], values = '순매출', columns = '상품명')
H_sales= pd.pivot_table(H_con, index=['주문일자'], values = '순매출', columns = '상품명')
I_sales= pd.pivot_table(I_con, index=['주문일자'], values = '순매출', columns = '상품명')
J_sales= pd.pivot_table(J_con, index=['주문일자'], values = '순매출', columns = '상품명')
K_sales= pd.pivot_table(K_con, index=['주문일자'], values = '순매출', columns = '상품명')
L_sales= pd.pivot_table(L_con, index=['주문일자'], values = '순매출', columns = '상품명')

In [56]:
A_sales.index=pd.to_datetime(A_sales.index)
A_sales= A_sales.groupby(A_sales.index.week).sum()
A_sales["SUM"]= A_sales.sum(axis=1)

B_sales.index=pd.to_datetime(B_sales.index)
B_sales= B_sales.groupby(B_sales.index.week).sum()
B_sales["SUM"]= B_sales.sum(axis=1)

C_sales.index=pd.to_datetime(C_sales.index)
C_sales= C_sales.groupby(C_sales.index.week).sum()
C_sales["SUM"]= C_sales.sum(axis=1)

D_sales.index=pd.to_datetime(D_sales.index)
D_sales= D_sales.groupby(D_sales.index.week).sum()
D_sales["SUM"]= D_sales.sum(axis=1)

E_sales.index=pd.to_datetime(E_sales.index)
E_sales= E_sales.groupby(E_sales.index.week).sum()
E_sales["SUM"]= E_sales.sum(axis=1)

F_sales.index=pd.to_datetime(F_sales.index)
F_sales= F_sales.groupby(F_sales.index.week).sum()
F_sales["SUM"]= F_sales.sum(axis=1)

G_sales.index=pd.to_datetime(G_sales.index)
G_sales= G_sales.groupby(G_sales.index.week).sum()
G_sales["SUM"]= G_sales.sum(axis=1)

H_sales.index=pd.to_datetime(H_sales.index)
H_sales= H_sales.groupby(H_sales.index.week).sum()
H_sales["SUM"]= H_sales.sum(axis=1)

I_sales.index=pd.to_datetime(I_sales.index)
I_sales= I_sales.groupby(I_sales.index.week).sum()
I_sales["SUM"]= I_sales.sum(axis=1)

J_sales.index=pd.to_datetime(J_sales.index)
J_sales= J_sales.groupby(J_sales.index.week).sum()
J_sales["SUM"]= J_sales.sum(axis=1)

K_sales.index=pd.to_datetime(K_sales.index)
K_sales= K_sales.groupby(K_sales.index.week).sum()
K_sales["SUM"]= K_sales.sum(axis=1)

L_sales.index=pd.to_datetime(L_sales.index)
L_sales= L_sales.groupby(L_sales.index.week).sum()
L_sales["SUM"]= L_sales.sum(axis=1)

<ipython-input-56-76774fdb96d6>:2: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  A_sales= A_sales.groupby(A_sales.index.week).sum()
<ipython-input-56-76774fdb96d6>:6: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  B_sales= B_sales.groupby(B_sales.index.week).sum()
<ipython-input-56-76774fdb96d6>:10: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  C_sales= C_sales.groupby(C_sales.index.week).sum()
<ipython-input-56-76774fdb96d6>:14: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  D_sales= D_sales.groupby(D_sales.index.week).sum()
<ipython-input-56-76774fdb96d6>:18: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  E_sales= E_sales.groupby(E_sales.index.week).sum()
<ipython-input-56-76774fdb96d6>:22: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  F_sales= F_sales.groupby(F_sales.index.week).sum()
<ipython-input-56-76774fdb96d6>:26: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  G_sales= G_sales.groupby(G_sales.index.week).sum()
<ipython-input-56-76774fdb96d6>:30: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  H_sales= H_sales.groupby(H_sales.index.week).sum()
<ipython-input-56-76774fdb96d6>:34: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  I_sales= I_sales.groupby(I_sales.index.week).sum()
<ipython-input-56-76774fdb96d6>:38: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  J_sales= J_sales.groupby(J_sales.index.week).sum()
<ipython-input-56-76774fdb96d6>:42: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  K_sales= K_sales.groupby(K_sales.index.week).sum()
<ipython-input-56-76774fdb96d6>:46: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  L_sales= L_sales.groupby(L_sales.index.week).sum()

In [57]:
A_sales

상품명,(1)버라이어티 미니팩,(2)더블초코미니팩,(3)더블피칸미니팩,(4)C4클래식시나팩,(5)CP4더블피칸시나팩,(6)TC9트리플시나팩,1.커피시나본 콤보,2.커피미니본 콤보,3.피지 미니본 콤보,HBD 블랙,...,클래식 본,클래식바이츠(4개),피지딸기,피지레몬,피지망고,피칸본 변경,핑크 버라이어티팩,핑크본,핑크본 변경,SUM
주문일자,,,,,,,,,,,,,,,,,,,,,
1,0.00000,69430.875000,74660.166667,95454.0,51273.0,131819.000000,32817.75,18000.000000,0.0,0.0,...,27125.090578,22503.252092,3909.0,0.0,3909.0,455.0,0.0,0.0,0.0,8.896132e+05
2,0.00000,69923.500000,55228.500000,87499.5,119637.0,184548.000000,41454.00,26700.000000,0.0,0.0,...,33116.560300,37289.743579,19545.0,0.0,0.0,0.0,0.0,0.0,0.0,1.119146e+06
3,0.00000,82726.000000,67705.800000,95454.0,91152.0,184548.000000,31090.50,30000.000000,0.0,0.0,...,35036.792564,34730.315288,0.0,0.0,3909.0,455.0,0.0,0.0,0.0,1.096347e+06
4,12273.00000,96513.809524,73637.500000,81135.9,102546.0,263637.833333,34545.00,35142.857143,0.0,0.0,...,35758.510584,35551.706027,7818.0,0.0,3909.0,0.0,0.0,0.0,0.0,1.295204e+06
5,24546.00000,59090.000000,61365.000000,68939.0,111091.5,185802.428571,27636.00,36000.000000,0.0,0.0,...,33791.278555,32954.364846,3909.0,3909.0,0.0,910.0,0.0,0.0,0.0,1.172907e+06
6,39887.00000,59090.000000,61365.000000,76893.5,51273.0,52728.000000,34545.00,12000.000000,0.0,10000.0,...,24172.677518,24386.449206,0.0,0.0,0.0,455.0,0.0,3545.0,0.0,8.281789e+05
7,50260.52381,64999.000000,73638.000000,53030.0,62667.0,72500.750000,34545.00,21600.000000,0.0,5000.0,...,31372.234277,34614.720083,3909.0,0.0,7818.0,910.0,25272.0,10635.0,0.0,1.033116e+06
8,12273.00000,50226.500000,39887.000000,63636.0,68364.0,79092.000000,34545.00,30000.000000,6182.0,10000.0,...,36222.652162,32781.883838,0.0,7818.0,0.0,0.0,75817.0,42543.0,0.0,1.143911e+06
9,0.00000,57120.333333,83864.666667,63636.0,91152.0,210911.000000,36848.00,28500.000000,0.0,0.0,...,37283.296032,30697.222222,3909.0,0.0,0.0,0.0,50544.0,7090.0,0.0,1.192098e+06
10,0.00000,69726.200000,25773.300000,63636.0,102546.0,52728.000000,41454.00,30000.000000,0.0,0.0,...,32934.616162,36446.597976,3909.0,0.0,0.0,0.0,164272.0,21271.0,545.0,1.053087e+06
11,12273.00000,106362.000000,61365.000000,119317.5,68364.0,131820.000000,13818.00,24000.000000,0.0,5000.0,...,34465.398841,31711.739241,11727.0,3909.0,3909.0,909.0,94770.5,17725.5,0.0,1.188432e+06
12,0.00000,59090.000000,49092.000000,95454.0,68364.0,131819.000000,6909.00,12000.000000,6182.0,0.0,...,33669.703645,30176.867270,7818.0,0.0,7818.0,455.0,44226.0,7090.0,0.0,1.010429e+06
13,0.00000,11818.000000,18409.000000,0.0,34182.0,0.000000,13818.00,0.000000,0.0,0.0,...,14816.592532,22052.875000,0.0,0.0,0.0,0.0,25272.0,15954.0,0.0,3.188717e+05

In [58]:
# calculate Pearson's correlation
corr, _ = pearsonr(A_sales.index, A_sales['SUM'])
corr2, _ = pearsonr(B_sales.index, B_sales['SUM'])
corr3, _ = pearsonr(C_sales.index, C_sales['SUM'])
corr4, _ = pearsonr(D_sales.index, D_sales['SUM'])
corr5, _ = pearsonr(E_sales.index, E_sales['SUM'])
corr6, _ = pearsonr(F_sales.index, F_sales['SUM'])
corr7, _ = pearsonr(G_sales.index, G_sales['SUM'])
corr8, _ = pearsonr(H_sales.index, H_sales['SUM'])
corr9, _ = pearsonr(I_sales.index, I_sales['SUM'])
corr10, _ = pearsonr(J_sales.index, J_sales['SUM'])
corr11, _ = pearsonr(K_sales.index, K_sales['SUM'])
corr12, _ = pearsonr(L_sales.index, L_sales['SUM'])

print('Galaria Pearsons correlation: %.3f' % corr)
print('Seoul forest Pearsons correlation: %.3f' % corr2)
print('DQube Pearsons correlation: %.3f' % corr3)
print('Mokdong Pearsons correlation: %.3f' % corr4)
print('Mauin store Pearsons correlation: %.3f' % corr5)
print('HD Chungchung Pearsons correlation: %.3f' % corr6)
print('HD Daegu Pearsons correlation: %.3f' % corr7)
print('HD Trade centerPearsons correlation: %.3f' % corr8)
print('HD JungdongPearsons correlation: %.3f' % corr9)
print('HD Chunho Pearsons correlation: %.3f' % corr10)
print('Kintex Pearsons correlation: %.3f' % corr11)
print('AK Town Pearsons correlation: %.3f' % corr12)

Galaria Pearsons correlation: -0.344
Seoul forest Pearsons correlation: 0.024
DQube Pearsons correlation: -0.393
Mokdong Pearsons correlation: -0.211
Mauin store Pearsons correlation: -0.186
HD Chungchung Pearsons correlation: -0.186
HD Daegu Pearsons correlation: -0.330
HD Trade centerPearsons correlation: 0.022
HD JungdongPearsons correlation: -0.235
HD Chunho Pearsons correlation: -0.414
Kintex Pearsons correlation: -0.224
AK Town Pearsons correlation: -0.127

In [48]:
A_sales

상품명,(1)버라이어티 미니팩,(2)더블초코미니팩,(3)더블피칸미니팩,(4)C4클래식시나팩,(5)CP4더블피칸시나팩,(6)TC9트리플시나팩,1.커피시나본 콤보,2.커피미니본 콤보,3.피지 미니본 콤보,HBD 블랙,...,클래식 Mini 본,클래식 본,클래식바이츠(4개),피지딸기,피지레몬,피지망고,피칸본 변경,핑크 버라이어티팩,핑크본,핑크본 변경
주문일자,,,,,,,,,,,,,,,,,,,,,
2019-01-02,NaN,11818.000,16363.666667,15909.0,17091.0,26364.0,6909.00,NaN,NaN,NaN,...,4384.615385,5206.727273,3388.272727,NaN,NaN,3909.0,NaN,NaN,NaN,NaN
2019-01-03,NaN,16249.875,12273.000000,31818.0,NaN,NaN,6909.00,6000.0,NaN,NaN,...,6600.000000,6428.714286,5058.214286,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-04,NaN,11818.000,21477.500000,31818.0,17091.0,26364.0,6909.00,6000.0,NaN,NaN,...,5812.500000,5534.882353,4969.555556,NaN,NaN,NaN,455.0,NaN,NaN,NaN
2019-01-05,NaN,17727.000,12273.000000,15909.0,17091.0,52727.0,6909.00,NaN,NaN,NaN,...,4000.000000,4500.100000,3230.066667,3909.0,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-06,NaN,11818.000,12273.000000,NaN,NaN,26364.0,5181.75,6000.0,NaN,NaN,...,6000.000000,5454.666667,5857.142857,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-23,NaN,11818.000,12273.000000,15909.0,17091.0,26364.0,NaN,6000.0,NaN,NaN,...,4071.428571,4363.733333,5042.764706,3909.0,NaN,NaN,NaN,6318.0,3545.0,NaN
2019-03-24,NaN,11818.000,12273.000000,15909.0,17091.0,26364.0,NaN,NaN,NaN,NaN,...,3000.000000,4736.947368,4969.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-25,NaN,NaN,18409.000000,NaN,17091.0,NaN,NaN,NaN,NaN,NaN,...,3600.000000,5844.285714,5280.250000,NaN,NaN,NaN,NaN,NaN,5318.0,NaN
2019-03-26,NaN,11818.000,NaN,NaN,NaN,NaN,6909.00,NaN,NaN,NaN,...,4333.333333,3347.181818,8386.500000,NaN,NaN,NaN,NaN,12636.0,3545.0,NaN
2019-03-27,NaN,NaN,NaN,NaN,17091.0,NaN,6909.00,NaN,NaN,NaN,...,3000.000000,5625.125000,8386.125000,NaN,NaN,NaN,NaN,12636.0,7091.0,NaN

In [60]:
A_sales.index=pd.to_datetime(A_sales.index)
A_sales= A_sales.groupby(A_sales.index.month).sum()
A_sales["SUM"]= A_sales.sum(axis=1)

B_sales.index=pd.to_datetime(B_sales.index)
B_sales= B_sales.groupby(B_sales.index.month).sum()
B_sales["SUM"]= B_sales.sum(axis=1)

C_sales.index=pd.to_datetime(C_sales.index)
C_sales= C_sales.groupby(C_sales.index.month).sum()
C_sales["SUM"]= C_sales.sum(axis=1)

D_sales.index=pd.to_datetime(D_sales.index)
D_sales= D_sales.groupby(D_sales.index.month).sum()
D_sales["SUM"]= D_sales.sum(axis=1)

E_sales.index=pd.to_datetime(E_sales.index)
E_sales= E_sales.groupby(E_sales.index.month).sum()
E_sales["SUM"]= E_sales.sum(axis=1)

F_sales.index=pd.to_datetime(F_sales.index)
F_sales= F_sales.groupby(F_sales.index.month).sum()
F_sales["SUM"]= F_sales.sum(axis=1)

G_sales.index=pd.to_datetime(G_sales.index)
G_sales= G_sales.groupby(G_sales.index.month).sum()
G_sales["SUM"]= G_sales.sum(axis=1)

H_sales.index=pd.to_datetime(H_sales.index)
H_sales= H_sales.groupby(H_sales.index.month).sum()
H_sales["SUM"]= H_sales.sum(axis=1)

I_sales.index=pd.to_datetime(I_sales.index)
I_sales= I_sales.groupby(I_sales.index.month).sum()
I_sales["SUM"]= I_sales.sum(axis=1)

J_sales.index=pd.to_datetime(J_sales.index)
J_sales= J_sales.groupby(J_sales.index.month).sum()
J_sales["SUM"]= J_sales.sum(axis=1)

K_sales.index=pd.to_datetime(K_sales.index)
K_sales= K_sales.groupby(K_sales.index.month).sum()
K_sales["SUM"]= K_sales.sum(axis=1)

L_sales.index=pd.to_datetime(L_sales.index)
L_sales= L_sales.groupby(L_sales.index.month).sum()
L_sales["SUM"]= L_sales.sum(axis=1)

In [61]:
# calculate Pearson's correlation
corr, _ = pearsonr(A_sales.index, A_sales['SUM'])
corr2, _ = pearsonr(B_sales.index, B_sales['SUM'])
corr3, _ = pearsonr(C_sales.index, C_sales['SUM'])
corr4, _ = pearsonr(D_sales.index, D_sales['SUM'])
corr5, _ = pearsonr(E_sales.index, E_sales['SUM'])
corr6, _ = pearsonr(F_sales.index, F_sales['SUM'])
corr7, _ = pearsonr(G_sales.index, G_sales['SUM'])
corr8, _ = pearsonr(H_sales.index, H_sales['SUM'])
corr9, _ = pearsonr(I_sales.index, I_sales['SUM'])
corr10, _ = pearsonr(J_sales.index, J_sales['SUM'])
corr11, _ = pearsonr(K_sales.index, K_sales['SUM'])
corr12, _ = pearsonr(L_sales.index, L_sales['SUM'])

print('Galaria Pearsons correlation: %.3f' % corr)
print('Seoul forest Pearsons correlation: %.3f' % corr2)
print('DQube Pearsons correlation: %.3f' % corr3)
print('Mokdong Pearsons correlation: %.3f' % corr4)
print('Mauin store Pearsons correlation: %.3f' % corr5)
print('HD Chungchung Pearsons correlation: %.3f' % corr6)
print('HD Daegu Pearsons correlation: %.3f' % corr7)
print('HD Trade centerPearsons correlation: %.3f' % corr8)
print('HD JungdongPearsons correlation: %.3f' % corr9)
print('HD Chunho Pearsons correlation: %.3f' % corr10)
print('Kintex Pearsons correlation: %.3f' % corr11)
print('AK Town Pearsons correlation: %.3f' % corr12)

Galaria Pearsons correlation: -0.933
Seoul forest Pearsons correlation: 0.372
DQube Pearsons correlation: -0.945
Mokdong Pearsons correlation: -0.945
Mauin store Pearsons correlation: -0.910
HD Chungchung Pearsons correlation: -0.910
HD Daegu Pearsons correlation: -0.983
HD Trade centerPearsons correlation: -0.044
HD JungdongPearsons correlation: -1.000
HD Chunho Pearsons correlation: -0.903
Kintex Pearsons correlation: -0.840
AK Town Pearsons correlation: -0.880