In [16]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [31]:
df = pd.read_excel('주문 시간별(메뉴별)_갤러리아압구정.xlsx',names=['a','b','c','주문시간','반품일시','상품분류','상품코드','상품명','상품단가','주문건수','폐기건수','주문금액','할인금액','실매출합계','부가세액','순매출','기타금액','총합계','결제수단'])
df

,a,b,c,주문시간,반품일시,상품분류,상품코드,상품명,상품단가,주문건수,폐기건수,주문금액,할인금액,실매출합계,부가세액,순매출,기타금액,총합계,결제수단
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
관 리 점 : 가 맹 점 :667M000008 시나본 갤러리아명품관점 브 랜 드 :[브랜드 전체] 조회 일자 :2019-01-01 ~ 2019-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
No,가맹점코드,가맹점명,주문일자,주문시간,반품일시,상품분류,상품코드,상품명,상품단가,주문건수,폐기건수,주문금액,할인금액,실매출합계,부가세액,순매출,기타금액,총합계,결제수단
1,667M000008,시나본 갤러리아명품관점,2019-01-02,11:12:27,NaN,시나본롤,1035,클래식바이츠(4개),4100,1,0,4100,0,4100,373,3727,0,4100,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7132,NaN,NaN,2019-03-27,NaN,NaN,NaN,1031,클래식 Mini 본,3300,1,0,3300,0,3300,300,3000,0,3300,NaN
0,NaN,NaN,NaN,소계,NaN,,NaN,,211600,70,0,327400,0,327400,29766,297634,0,327400,0
판 매,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"41,278,500","9,156",0,"51,838,800","30,600","51,808,200","4,710,064","47,098,136",0,"51,808,200",NaN
취 소,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,307,900",-378,0,"-1,938,300",0,"-1,938,300","-176,206","-1,762,094",0,"-1,938,300",NaN
TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"42,586,400","8,778",0,"49,900,500","30,600","49,869,900","4,533,858","45,336,042",0,"49,869,900",NaN

In [34]:
df.drop(['a','b','c'],axis=1, inplace=True)

KeyError: "['a' 'b' 'c'] not found in axis"

In [35]:
df.drop([0,1,2,3],axis=0, inplace=True)
df.head()

,주문시간,반품일시,상품분류,상품코드,상품명,상품단가,주문건수,폐기건수,주문금액,할인금액,실매출합계,부가세액,순매출,기타금액,총합계,결제수단
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
관 리 점 : 가 맹 점 :667M000008 시나본 갤러리아명품관점 브 랜 드 :[브랜드 전체] 조회 일자 :2019-01-01 ~ 2019-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
No,주문시간,반품일시,상품분류,상품코드,상품명,상품단가,주문건수,폐기건수,주문금액,할인금액,실매출합계,부가세액,순매출,기타금액,총합계,결제수단
4,11:38:59,NaN,커피,1005,카페라떼,4600,1,0,4600,0,4600,418,4182,0,4600,NaN

In [36]:
df = df[df.주문시간 != "소계"]
df

,주문시간,반품일시,상품분류,상품코드,상품명,상품단가,주문건수,폐기건수,주문금액,할인금액,실매출합계,부가세액,순매출,기타금액,총합계,결제수단
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
관 리 점 : 가 맹 점 :667M000008 시나본 갤러리아명품관점 브 랜 드 :[브랜드 전체] 조회 일자 :2019-01-01 ~ 2019-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
No,주문시간,반품일시,상품분류,상품코드,상품명,상품단가,주문건수,폐기건수,주문금액,할인금액,실매출합계,부가세액,순매출,기타금액,총합계,결제수단
4,11:38:59,NaN,커피,1005,카페라떼,4600,1,0,4600,0,4600,418,4182,0,4600,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7131,19:35:23,NaN,시나본롤,1034,Mini 초코본,3500,1,0,3500,0,3500,318,3182,0,3500,NaN
7132,NaN,NaN,NaN,1031,클래식 Mini 본,3300,1,0,3300,0,3300,300,3000,0,3300,NaN
판 매,NaN,NaN,NaN,NaN,NaN,"41,278,500","9,156",0,"51,838,800","30,600","51,808,200","4,710,064","47,098,136",0,"51,808,200",NaN
취 소,NaN,NaN,NaN,NaN,NaN,"1,307,900",-378,0,"-1,938,300",0,"-1,938,300","-176,206","-1,762,094",0,"-1,938,300",NaN
TOTAL,NaN,NaN,NaN,NaN,NaN,"42,586,400","8,778",0,"49,900,500","30,600","49,869,900","4,533,858","45,336,042",0,"49,869,900",NaN

In [29]:
df.drop(['a','b','c'],axis=1, inplace=True)
df.drop(0,axis=0,inplace=True)

df

KeyError: '[0] not found in axis'

In [13]:
df.fillna(method='ffill')

,a,b,c,주문시간,반품일시,상품분류,상품코드,상품명,상품단가,주문건수,폐기건수,주문금액,할인금액,실매출합계,부가세액,순매출,기타금액,총합계,결제수단
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
관 리 점 : 가 맹 점 :667M000008 시나본 갤러리아명품관점 브 랜 드 :[브랜드 전체] 조회 일자 :2019-01-01 ~ 2019-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
No,가맹점코드,가맹점명,주문일자,주문시간,반품일시,상품분류,상품코드,상품명,상품단가,주문건수,폐기건수,주문금액,할인금액,실매출합계,부가세액,순매출,기타금액,총합계,결제수단
1,667M000008,시나본 갤러리아명품관점,2019-01-02,11:12:27,반품일시,시나본롤,1035,클래식바이츠(4개),4100,1,0,4100,0,4100,373,3727,0,4100,결제수단
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7131,667M000008,시나본 갤러리아명품관점,2019-03-27,19:35:23,2019-03-26 15:33:20,시나본롤,1034,Mini 초코본,3500,1,0,3500,0,3500,318,3182,0,3500,0
7132,667M000008,시나본 갤러리아명품관점,2019-03-27,19:35:23,2019-03-26 15:33:20,시나본롤,1031,클래식 Mini 본,3300,1,0,3300,0,3300,300,3000,0,3300,0
판 매,667M000008,시나본 갤러리아명품관점,2019-03-27,19:35:23,2019-03-26 15:33:20,시나본롤,1031,클래식 Mini 본,"41,278,500","9,156",0,"51,838,800","30,600","51,808,200","4,710,064","47,098,136",0,"51,808,200",0
취 소,667M000008,시나본 갤러리아명품관점,2019-03-27,19:35:23,2019-03-26 15:33:20,시나본롤,1031,클래식 Mini 본,"1,307,900",-378,0,"-1,938,300",0,"-1,938,300","-176,206","-1,762,094",0,"-1,938,300",0
TOTAL,667M000008,시나본 갤러리아명품관점,2019-03-27,19:35:23,2019-03-26 15:33:20,시나본롤,1031,클래식 Mini 본,"42,586,400","8,778",0,"49,900,500","30,600","49,869,900","4,533,858","45,336,042",0,"49,869,900",0

In [18]:
df[df.주문시간 ==""] = np.NaN

In [19]:
df

,a,b,c,주문시간,반품일시,상품분류,상품코드,상품명,상품단가,주문건수,폐기건수,주문금액,할인금액,실매출합계,부가세액,순매출,기타금액,총합계,결제수단
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
관 리 점 : 가 맹 점 :667M000008 시나본 갤러리아명품관점 브 랜 드 :[브랜드 전체] 조회 일자 :2019-01-01 ~ 2019-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
No,가맹점코드,가맹점명,주문일자,주문시간,반품일시,상품분류,상품코드,상품명,상품단가,주문건수,폐기건수,주문금액,할인금액,실매출합계,부가세액,순매출,기타금액,총합계,결제수단
1,667M000008,시나본 갤러리아명품관점,2019-01-02,11:12:27,NaN,시나본롤,1035,클래식바이츠(4개),4100,1,0,4100,0,4100,373,3727,0,4100,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7131,NaN,NaN,2019-03-27,19:35:23,NaN,시나본롤,1034,Mini 초코본,3500,1,0,3500,0,3500,318,3182,0,3500,NaN
7132,NaN,NaN,2019-03-27,NaN,NaN,NaN,1031,클래식 Mini 본,3300,1,0,3300,0,3300,300,3000,0,3300,NaN
판 매,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"41,278,500","9,156",0,"51,838,800","30,600","51,808,200","4,710,064","47,098,136",0,"51,808,200",NaN
취 소,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,307,900",-378,0,"-1,938,300",0,"-1,938,300","-176,206","-1,762,094",0,"-1,938,300",NaN
TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"42,586,400","8,778",0,"49,900,500","30,600","49,869,900","4,533,858","45,336,042",0,"49,869,900",NaN

In [20]:
df.fillna(method='ffill')

,a,b,c,주문시간,반품일시,상품분류,상품코드,상품명,상품단가,주문건수,폐기건수,주문금액,할인금액,실매출합계,부가세액,순매출,기타금액,총합계,결제수단
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
관 리 점 : 가 맹 점 :667M000008 시나본 갤러리아명품관점 브 랜 드 :[브랜드 전체] 조회 일자 :2019-01-01 ~ 2019-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
No,가맹점코드,가맹점명,주문일자,주문시간,반품일시,상품분류,상품코드,상품명,상품단가,주문건수,폐기건수,주문금액,할인금액,실매출합계,부가세액,순매출,기타금액,총합계,결제수단
1,667M000008,시나본 갤러리아명품관점,2019-01-02,11:12:27,반품일시,시나본롤,1035,클래식바이츠(4개),4100,1,0,4100,0,4100,373,3727,0,4100,결제수단
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7131,667M000008,시나본 갤러리아명품관점,2019-03-27,19:35:23,2019-03-26 15:33:20,시나본롤,1034,Mini 초코본,3500,1,0,3500,0,3500,318,3182,0,3500,0
7132,667M000008,시나본 갤러리아명품관점,2019-03-27,19:35:23,2019-03-26 15:33:20,시나본롤,1031,클래식 Mini 본,3300,1,0,3300,0,3300,300,3000,0,3300,0
판 매,667M000008,시나본 갤러리아명품관점,2019-03-27,19:35:23,2019-03-26 15:33:20,시나본롤,1031,클래식 Mini 본,"41,278,500","9,156",0,"51,838,800","30,600","51,808,200","4,710,064","47,098,136",0,"51,808,200",0
취 소,667M000008,시나본 갤러리아명품관점,2019-03-27,19:35:23,2019-03-26 15:33:20,시나본롤,1031,클래식 Mini 본,"1,307,900",-378,0,"-1,938,300",0,"-1,938,300","-176,206","-1,762,094",0,"-1,938,300",0
TOTAL,667M000008,시나본 갤러리아명품관점,2019-03-27,19:35:23,2019-03-26 15:33:20,시나본롤,1031,클래식 Mini 본,"42,586,400","8,778",0,"49,900,500","30,600","49,869,900","4,533,858","45,336,042",0,"49,869,900",0

In [22]:
df.to_excel('갤러리아시간별전처리.xlsx')